<div class="container">
    <h2><%= @task.title %></h2>
    <p><%= @task.description %></p>
    <small><%= time_ago_in_words(@task.created_at) %></small>


    <%= render 'activities/activities' %>

    
    <% if @task.user_id == current_user.id %>
            <%= render 'activities/form' %>
        <br><br><br><br>
        
        <% if @id_arr %>
            <h4>Already Added</h4>
            <% for item in @id_arr %>
                <%# <%=link_to "#{item[0]}", messages_path(guest_email: item[0]) %> %>
                                <%=link_to "#{item[0]}", messages_path , method: localStorage.setItem(guest_email, item[0])%>

            <% end %>
        <% end %>
    
        <h4>Select User to add as reviewer</h4>
        <%= form_with model: Reviewer do |f|%>
            <%= f.select :child_id, @selecting_user, include_blank: true, html_options:{}%>
            <%= hidden_field_tag(:subaction, @task.id) %>
            <%= f.submit "Add as Reviewer"%>
        <% end %>
    <% end %>

</div>
